requests
pandas
numpy
# string
# json
# re
# nltk
spacy
scikit-learn
# typing
# hdbscan
# bertopic
# transformers
# ctransformers
fastapi[all]
pydantic==1.9
pymongo[srv]==3.11.0
python-dotenv==0.19.2
joblib

