:root {
    --color: rgb(255, 255, 255);
}

body {
    margin: 0;
    font-family: Poppins, sans-serif;
}

header {
    display: flex;
    align-items: center;

    text-align: center;
}

.parallax-container {
display: flex;
min-height: 100vh;
flex-direction: column;
align-items: center;
background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../utils/images/wh_landingpage_background.jpeg');
background-position: center;
background-size: cover;
color: var(--color);
row-gap: .1rem;


}
/* 
.parallax-container2 {
display: flex;
min-height: 100vh;
flex-direction: column;
align-items: center;
background-position: center;
background-size: cover;
color: var(--color);
row-gap: .1rem;
background-color: #54a7ff;

}
.parallax-container3 {
display: flex;
min-height: 100vh;
flex-direction: column;
align-items: center;
background-position: center;
background-size: cover;
color: var(--color);
row-gap: .1rem;
background-color: #ff54d7;

} */

h1 {
    font-size: 3rem;
    font-weight: 700;
}

p {
    max-width: 52ch;
    padding: 1em;
    line-height: 1.5;
}

a {
    display: inline-block;
    padding: 1em 3.5em;
    border-radius: 0.3em;
    background-color: var(--color);
    color: white;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-transform: uppercase;
}

h3 {
    margin-top: 1em;
    font-size: 1.6rem;
    font-weight: 700;
}

.logo {
position: fixed; 
top: 0; 
left: 0; 
}
.logo img {
    max-height: 80px; 
}



.small-paragraph {
font-size: 1.5rem;
font-weight: bold; 
margin-top: 0px; 
margin-bottom: 0px; 
text-align: center; 
}

.big-paragraph {
font-size: 2.3rem; 
font-weight: bold; 
margin-top: -10px; 
margin-bottom: -10px; 
}

.button {
background-color: #aba500; 
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline;
font-size: 16px;
}
.search-container {
display: flex;
align-items: center;
}

.left-image {
width: 50px; 
height: auto; 
margin-right: 10px; 
}

.search-bar {
width: 100%; 
padding: 10px; 
border: 1px solid #ccc; 
border-radius: 5px; 
font-size: 16px; 
}
.grid-container {
display: grid;
grid-template-columns: repeat(2, 1fr); 
grid-gap: 20px;
}

.image-container {
width: 100%; 
}

.image-container img {
width: 100%; 
height: auto; 
}